.signup {
  padding: 1rem;
}

.container {
  max-width: 500px;
  margin: auto;
}

.signup .header {
  text-align: center;
  margin: 1rem 0;
}

.signupForm {
  width: 100%;
}

.formGroup {
  margin: 0 0 1.2rem 0;
}

.formGroup label {
  font-size: .9rem;
  margin-bottom: .5rem;
}

.signupForm input {
  background-color: #F7F8F9;
  border: 1px solid #6FA7B9;
  border-radius: .8rem;
  width: 100%;
  padding: .9rem;
}

.signupForm .submitBtn {
  border-radius: .8rem;
  padding: .9rem;
}

.login {
  font-size: .9rem;
  margin-top: .8rem;
}

.login a {
  color: #EB5125;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}