.btn {
  background-color: #EB5125;
  color: #FFF;
  font-weight: 600;
  width: 180px;
  padding: .8rem;
  border: none;
  cursor: pointer;
  position: relative;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}